<container>
  <row class="footer-top">
    <columns large="5" small="7">
      <row>
        <columns large="2" small="12">
          <img
            src="{{root}}/assets/img/kayak_files/logo_circle.png"
            class="circle-logo"
          />
        </columns>
        <columns large="1" small="0"> </columns>
        <columns large="8" small="12" valign="middle">
          <row>
            <span class="call-to-action">Download the app</span>
          </row>
          <row>
            <span class="info">Cheap flights, hotels & more</span>
          </row>
        </columns>
      </row>
    </columns>

    <columns large="7" small="5" class="store-logos">
      <row>
        <columns large="5" valign="middle">
          <img
            src="{{root}}/assets/img/kayak_files/appstore.png"
            class="user_icon"
          />
        </columns>
        <columns large="5" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/playstore.png" class="" />
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="footer-social">
    <columns class="logo-section" small="6" large="9" valign="middle">
      <img src="{{root}}/assets/img/kayak_files/logo_orange.png" class="" />
    </columns>

    <columns small="6" large="3" valign="middle">
      <row class="social-icons">
        <columns small="4" large="4">
          <img src="{{root}}/assets/img/kayak_files/facebook.png" class="" />
        </columns>
        <columns small="4" large="4">
          <img src="{{root}}/assets/img/kayak_files/twitter.png" class="" />
        </columns>
        <columns small="4" large="4">
          <img src="{{root}}/assets/img/kayak_files/instagram.png" class="" />
        </columns>
      </row>
    </columns>
  </row>
</container>
